.bcontainer {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: fit-content;
    align-items: center;
}

.bposter {
    width: 14vw;
    border-radius: 2vh;
}

.text h1 {
    font-size: 4vh;
}

.text h2 {
    font-size: 3vh;
}