.trailer-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer {
    background-color: #191919;
    display: flex;
    flex-direction: row;
}

.trailer .title-place {
    width: 26vw;
}

.video-container {
    width: 60vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 55vw;
}